@import "tailwindcss";

@layer utilities {
    @keyframes fade-in-up {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    .animate-fade-in-up {
      animation: fade-in-up 2.5s ease-out both;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  .splide {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    background-color: #99a1af;
  }
  
  .splide__track {
    display: flex;
    justify-content: center; 
  }
  
  .splide__list {
    display: flex;
    justify-content: center;
  }

  .splide__slide img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }